// https://github.com/twbs/bootstrap/issues/22891#issuecomment-316463806
// Override theme colors

// $theme-colors: (
//   primary: red
// );

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Source Sans Pro', sans-serif;;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
